Challenge2/nodered_code_export.txt
[
    {
        "id": "b5d1af96.0416f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7a4b268a.6ebc7",
        "type": "inject",
        "z": "b5d1af96.0416f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "e378db03.480f6"
            ]
        ]
    },
    {
        "id": "d8b5798a.042268",
        "type": "csv",
        "z": "b5d1af96.0416f8",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "code,field1,field2,field3,field4,field5",
        "skip": "6082",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "edb3b1f6.8799b"
            ]
        ]
    },
    {
        "id": "3edb6f78.1e9ce8",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1210,
        "y": 80,
        "wires": []
    },
    {
        "id": "edb3b1f6.8799b",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "create_messages",
        "func": "if (msg.payload.code<6181){\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 280,
        "wires": [
            [
                "bf7ef728.a4cf78"
            ]
        ]
    },
    {
        "id": "e378db03.480f6",
        "type": "file in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "filename": "/home/user/Downloads/iot-feeds.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "d8b5798a.042268"
            ]
        ]
    },
    {
        "id": "bf7ef728.a4cf78",
        "type": "delay",
        "z": "b5d1af96.0416f8",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 980,
        "y": 160,
        "wires": [
            [
                "3edb6f78.1e9ce8",
                "b8973f55.5154d",
                "489e0583.d4343c"
            ]
        ]
    },
    {
        "id": "ddce35d7.762818",
        "type": "ui_chart",
        "z": "b5d1af96.0416f8",
        "name": "RSSI",
        "group": "d1fd503e.09f838",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "RSSI",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1230,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b8973f55.5154d",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "field5_function",
        "func": "var values = msg.payload.field5\nmsg.payload=values\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "ddce35d7.762818"
            ]
        ]
    },
    {
        "id": "489e0583.d4343c",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "mqtt_creation",
        "func": "var field1 = msg.payload.field1\nvar field2 = msg.payload.field2\nvar field5 = msg.payload.field5\nvar channel_id = \"1710670\"\nmsg.topic = 'channels/'+channel_id+'/publish'\nmsg.payload = 'field1='+field1+'&field2='+field2+'&field5='+field5+'&status=MQTTPUBLISH'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 140,
        "wires": [
            [
                "be3f4b6b.6f49a8",
                "1c3f9994.b959b6"
            ]
        ]
    },
    {
        "id": "be3f4b6b.6f49a8",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "1c3f9994.b959b6",
        "type": "mqtt out",
        "z": "b5d1af96.0416f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "670df126.30724",
        "x": 1370,
        "y": 120,
        "wires": []
    },
    {
        "id": "d1fd503e.09f838",
        "type": "ui_group",
        "z": "",
        "name": "field5",
        "tab": "94bc7398.bd04d8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "670df126.30724",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "EDglHQEGKxYsBzEZKiYxODo",
        "usetls": false,
        "compatmode": true,
        "keepalive": "320",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "94bc7398.bd04d8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]
